<!DOCTYPE html>
<html>

<header>
    <link rel = "stylesheet" href="web.css">
    <h1> Electric Guitar Recommender</h1>  
    <title>
        EGR
    </title>
     

</header>
<body>
    <form action ="/" method="POST">
        <label for="min-budget">Min Budget:</label>
        <input type="text" id="min-budget" name="min-budget" placeholder="Enter min budget">

        <label for="max-budget">Max Budget:</label>
        <input type="text" id="max-budget" name="max-budget" placeholder="Enter max budget">

        <label for="Genre/Tone">Choose a Genre/Tone</label>
        <select id="Genre" name="Genre/Tone">
            <option value="I Don't Know">I Don't Know</option> 
            <option value="Heavy Metal">Heavy Metal</option>
            <option value="Hard Rock">Hard Rock</option>
            <option value="Jazz">Jazz</option>
            <option value="Blues">Blues</option>
            <option value="Funk">Funk</option>
            <option value="Country">Country</option>
        </select>

        <label for="shape">Prefered Shape</label>
        <input type="text" id="shape" name="shape" placeholder="Leave Blank if you have none">

        <button type="submit">Get Recommendations</button>

    </form>

    {% if guitars %}
    <h2>Recommended Guitars:</h2>
    <ul>
        {% for guitar in guitars %}
            <li>{{ guitar }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>